* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --orang-color: #e96b56;
  --orang-color2: #ec7f6d;
  --gray-color: #545454;

}

a {
  text-decoration: none;
  transition: all ease 0.3s;
}

a:hover {
  color: var(--orang-color2);
}

img {
  width: 100%;
  height: 100%;
}

.section-title {
  color: var(--gray-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title h2 {
  text-align: center;
  position: relative;
  width: fit-content;
}

.section-title h2::after {
  position: absolute;
  content: '';
  width: 80%;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  background-color: var(--orang-color);
}

.section-title p {
  margin-top: 32px;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

/* TOPBAR */
.topbar {
  background-color: var(--gray-color);
  padding: 8px 16px;
  font-size: 14px;
}

.topbar .topbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-topbar i {
  color: var(--orang-color);
}

.left-topbar i a,

.left-topbar i span {
  font-size: 14px;
  color: #fff;
  margin-left: 8px;
}

.right-topbar a {
  color: #9b9b9b;
  font-size: 16px;
  margin: 0 4px;
}

.right-topbar a:hover {
  color: #cbcbcb;
}

/* HEADER */
header {
  background: #fff;
  padding: 16px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content .logo {
  margin-left: 20px;
}

.header-content .logo h1 {
  font-size: 32px;
  position: relative;
}

.header-content .logo h1::before {
  position: absolute;
  content: '';
  height: 75%;
  width: 8px;
  background-color: var(--orang-color);
  top: 12.5%;
  left: -16px;
}

.header-content .logo a {
  color: var(--gray-color);
}

.header-menu ul {
  display: flex;
}

.header-menu li {
  list-style: none;
}

.header-menu li a {
  font-size: 14px;
  margin: 0 8px;
  color: #000;
}

/* HERO */
section.hero {
  background-image: url(/assets/img/slide/slide-3.jpg);
}

.hero .hero-content {
  background-color: #cbcbcb9f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 0 214px 0;
}


.hero .hero-content .content {
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.hero-content .content h1 {
  font-size: 48px;
}

.hero-content .content h1 span {
  color: var(--orang-color);
}

.hero-content .content p {
  margin: 24px 0;
  font-size: 21px;
}

.hero-content .content a {
  margin-top: 30px;
  color: white;
  background-color: var(--orang-color);
  border-radius: 30px;
  padding: 12px 30px;
  font-size: 16px;
  transition: all 0.2s linear;
}

.hero-content .content a:hover {
  color: var(--orang-color);
  border: 2px solid var(--orang-color);
  background-color: transparent;
}

/* MAIN */
main {
  margin: 24px 0;
}

.featured {
  position: relative;
  top: -150px;
}

.featured .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.featured-item {
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.25);
  color: var(--gray-color);
  background-color: #fff;
  transition: all 0.1s;
}

.featured-item:hover {
  background-color: var(--orang-color);
  color: white;
}

.featured-item:hover i {
  color: white;
}

.featured-item i {
  font-size: 40px;
  color: var(--orang-color);
}

.featured-item h3 {
  margin: 12px 0;
}

.featured-item p {
  font-size: 17px;
}

/* section.about {
  height: 100px;
} */

section.about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.right-about {
  color: var(--gray-color);
}

.right-about>* {
  margin: 24px 0;
}

.right-about h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

.right-about q {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.right-about ul {
  list-style-position: inside;
  font-size: 21px;
  padding: 0 16px;
}

.right-about p {
  font-size: 21px;
}

section.services {
  margin: 102px 0;
}

.services-content {
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
  gap: 24px;
}

.services-item {
  border: 1px solid #cbcbcb88;
  padding: 64px 16px;
  transition: all 0.2s linear;
}

.services-item:hover {
  background-color: var(--orang-color);
}

.services-item:hover a,
.services-item:hover p {
  color: white !important;

}

.services-item .icon-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.services-item .icon-box .icon {
  padding: 16px;
  border-radius: 6px;
  background-color: var(--orang-color);
  color: #fff;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
}

.services-item:hover .icon-box .icon {
  background-color: white;
  color: var(--orang-color);
  z-index: 322;
}

.services-item .icon-box .icon::before {
  position: absolute;
  content: '';
  transform: translateZ(-1px);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: #fbe2dd;
  top: -8px;
  z-index: 32;
  left: -8px;
}

.services-item .icon-box h4 {
  margin: 16px 0;
}

.services-item .icon-box h4 a {
  color: var(--gray-color);
}

.services-item .icon-box p {
  color: var(--gray-color);
  text-align: center;
}

section.clients {
  margin: 102px 0;
}

footer {
  background-color: #404040;
}

.newsletter {
  padding: 48px 0;
}

.newsletter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter .left-news {
  color: white;
}

.newsletter .left-news h2 {
  font-size: 24px;
  font-weight: 500;
}

.newsletter .left-news p {
  margin-top: 16px;
  font-size: 16px;
}


.newsletter .right-news form {
  background-color: #fff;
  padding: 3px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 40px;
  border-radius: 30px;
  gap: 16px;
  overflow: hidden;
}

.newsletter .right-news form input {
  width: 25vw;
  border: none;
  height: 100%;
  font-size: 24px;
}

.newsletter .right-news form button {
  background-color: var(--orang-color);
  font-size: 21px;
  color: white;
  border-radius: 30px;
  outline: none;
  height: 100%;
  border: none;
  padding: 0 16px;
  transition: all 0.1s linear;
  cursor: pointer;
}

.newsletter .right-news form button:hover {
  background-color: var(--orang-color2);
}

.sitemap {
  background-color: #3b3b3b;
  border-top: 1px solid #474747;
  border-bottom: 1px solid #474747;
  color: white;
  padding: 48px 0;
}

.sitemap .row {
  display: grid;
  grid-template-columns: 300px 300px 1fr 1fr;
  gap: 16px;
}

.sitemap .row h4,
.sitemap .row h3 {
  font-weight: 300;
  margin-bottom: 24px;
}

.sitemap .row p {
  font-size: 14px;
  line-height: 1.8;
}

.footer-links ul {
  margin-top: 24px;
}

.footer-links ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 14px 0;
}

.footer-links ul li i {
  color: var(--orang-color);
}

.footer-links ul li a {
  font-size: 16px;
  color: white;
  transition: all .3s ease;
}

.footer-links ul li a:hover {
  color: var(--orang-color);
}

.footer-info .social-links {
  display: flex;
}

.footer-info .social-links a {
  color: #fff;
  margin-left: 8px;
  background-color: #404040;
  font-size: 18px;
  border-radius: 50%;
  text-align: center;
  padding: 8px;
  display: flex;
}

.footer-info .social-links a:hover {
  color: #cbcbcb;
}

.copy-right {
  padding: 32px 0;
  text-align: center;
}

.copy-right p {
  color: white;
  font-size: 16px;
}

.copy-right p:last-child {
  margin-top: 16px;
}

.copy-right a {
  color: var(--orang-color);
}